<%= form_with model: student do |form| %>
    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div>
    <%= form.label :profile_picture, style: "display: block" %>
    <%= form.file_field :profile_picture, accept: "image/*" %>
  </div>
  
    <div>
      <%= form.submit %>
    </div>
  <% end %>